* {
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #fff;
  --second-color: #000;
  --third-color: #606C38;
  --fourth-color: #283618;
  --fifth-color: #FAFAE0;
  --sixth-color: #DDA15E;
  --seventh-color: #BC6C25;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Zen Maru Gothic', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
  min-height: 100%;
  box-sizing: inherit;
  background-color: var(--fifth-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
header {
  background-image: linear-gradient(to bottom right, var(--third-color), var(--fourth-color));
  background-color: var(--third-color);
  text-align: center;
  height: 140px;
  text-decoration: none;
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
}

header h1 {
  font-family: 'Pacifico', 'Times New Roman', Times, serif;
}

.page-title {
  padding: 15px;
  color: var(--fifth-color);
}

.header-btn {
  background-color: var(--fifth-color);
  color: var(--fourth-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 16px;
  margin: 10px;
  filter: drop-shadow(2px 2px 2px var(--third-color));
}

.header-btn:hover {
  background-color: var(--fourth-color);
  color: var(--fifth-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 16px;
  margin: 10px;
}

/* Main */
main {
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--seventh-color);
}

li {
  list-style: none;
  border: 1px solid var(--sixth-color);
  border-radius: 5px;
  background-color: var(--first-color);
  margin: 10px 0px;
  padding: 2px 6px;
  filter: drop-shadow(2px 2px 2px var(--seventh-color));
}

/* Login, Signup, and Memory Input Forms */
.form-flex {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-top: 10px;
  font-size: 16px;
  padding: 4px;
  border: 1px solid var(--sixth-color);
  border-radius: 5px;
  background-color: var(--first-color);
  filter: drop-shadow(2px 2px 2px var(--seventh-color));
  font-family: 'Zen Maru Gothic', Arial, Helvetica, sans-serif;
  text-align: center;
}

.submit-btn {
  margin-top: 20px;
  background-color: var(--sixth-color);
  color: var(--fifth-color);
  font-weight: bold;
  font-family: 'Zen Maru Gothic', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 16px;
  border: 1px solid var(--seventh-color);
  filter: drop-shadow(2px 2px 2px var(--seventh-color));
}

/* Footer */
footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

footer div {
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  font-style: italic;
  padding-top: 10px;
}